{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 140,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.html", "legacy/**/*.js"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
